@import "utils/variables";

@import "layout/elements-principaux";
@import "layout/header";
   


.desktop{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 70px;
    height: 100%;
    position: relative;
    figure{
        padding-right: 50px;
        
        &:hover{
            
            .opened{
                display: inline-block;   
            }
            .closed{
                display: none;
            }
        }
        figcaption{
            padding-left: 20px;
            color: #FFF;
            font-weight: bold;
        }
        img{
            height: 100px;
            margin-bottom: 10px;
            }
    
    }
    
        
}
.opened{
    display: none;
}
.about-me-window{
    height: 500px;
    width: 75%;
    position: absolute;
    bottom: 55%;
    right: 10%;
}

.about-me-window-container{
    position: relative;
    height: 900px;
    width: 100%;
    z-index: 0;
    .quit-btn-a{
        height: 40px;
        width: 20%;
        z-index: 1;
        position: absolute;
        bottom: 106%;
        left: 15%;
        .quit-btn{
            height: 30px;
            width: 20%;
        }
    } 
   
}

.about-me-read-me{
    position: absolute;
    z-index: 0;
    bottom: 70%;
    left: 50%;
    p{
        color: black;
        font-weight: bold;
    }
    img{
        height: 100px;
        width: 100%;
    }
        
}


.window-txt{
    position: absolute;
    bottom: 50%;
    left: 35%;
    img{
        height: 550px;
        
    }
        
}
.window-txt-txt{
    position: absolute;
    width: 30%;
    height: 460px;
    left: 40%;
    top: -5%;
    text-align: justify;
    overflow: scroll;
}