*{
    margin: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body, html{
    background-color: #3f92c7;
    height: 100%;
}
   
header{
    display: flex;
    justify-content: flex-end;
    background-color: lighten(#e3e7e9, 2%);
    margin-top: 5p;
    h1{
        font-size: 1em;
        padding-right: 5px;
        padding-top: 2px;
    }
    .fa-solid.fa-battery-three-quarters{
        padding-right: 20px;
        padding-top: 2px;
    }
    p{
        padding-right: 5px;
        padding-top: 2px;
    }
    .fa-solid.fa-wifi{
        padding-right: 20px;
        padding-top: 2px;
    }
    

}

.desktop{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 70px;
    figure{
        padding-right: 50px;
        &:hover{
            .opened{
                display: inline-block;
            }
            .closed{
                display: none;
            }
        }
        figcaption{
            padding-left: 20px;
            color: #FFF;
            font-weight: bold;
        }
    }
    img{
        height: 100px;
        width: (100*1.36)px;
        margin-bottom: 10px;
        }
    }
    .opened{
        display: none;
    }
    
.heading{
    color: #FFF;
    padding-left: 20px;
}
