@import "utils/variables";

*{
    margin: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body, html{
    background-color: $desktop-bg-color;
    height: 100%;
}
   
header{
    display: flex;
    justify-content: flex-end;
    background-color: $header-bg-color;
    h1{
        font-size: 1em;
        padding-right: 5px;
        padding-top: 2px;
    }
    .fa-solid.fa-battery-three-quarters{
        padding-right: 20px;
        padding-top: 2px;
    }
    p{
        padding-right: 5px;
        padding-top: 2px;
    }
    .fa-solid.fa-wifi{
        padding-right: 20px;
        padding-top: 2px;
    }
    

}

.desktop{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 70px;
    figure{
        padding-right: 50px;
        &:hover{
            .opened{
                display: inline-block;
            }
            .closed{
                display: none;
            }
        }
        figcaption{
            padding-left: 20px;
            color: #FFF;
            font-weight: bold;
        }
    }
    img{
        height: 100px;
        margin-bottom: 10px;
        }
    }
    .opened{
        display: none;
    }


.about-me-window{
    height: 500px;
    width: 75%;
    transform: translate(160px, -100px);
}

.about-me-read-me{
    p{
        color: black;
        font-weight: bold;
    }
    img{
        height: 100px;
        width: 6.5%;
    }
    transform: translate(600px, -400px);
    
}

.quit-btn{
    height: 30px;
    width: 3%;
    transform: translate(170px,-725px);
}

.window-txt{
    height: 750px;
    transform: translate(350px, -800px)
}